span.checkbox {
    display: block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checked span.checkbox i {
    visibility: visible;
}
span.checkbox i {
    visibility: hidden;
}
.checked span.checkbox {
    border-color: #227cff;
    color: #227cff;
}


.pagination-btn{
    width: 20px;
    height: 20px;
    background-color: #E9EDED;
}

.stockful-checkbox{
    display: inline-flex;
    height: 1rem;
    padding-left: 1.5rem;
    position: relative;
    margin: 0;
}
.stockful-checkbox input{
    display: none;
}
.stockful-checkbox span{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 1px solid gray;
    border-radius: 0.25rem;
}
.stockful-checkbox input:checked ~ span{
    border-color: #227cff;
}
.stockful-checkbox input:checked ~ span::after {
    content: '';
    display: block;
    position: absolute;
    left: 0.3rem;
    top: 0.175rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid #227cff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hover-bg-blue-50:hover{
    background-color: #EFF6FF;
}

.text-gray-200{
    color: #D1D5DB;
}

.text-blue-500{
    color: #2563EB;
}

.table-top-header{background-color: #F5F7F8; }