/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .suppliers-first-column h2 {
        padding-bottom: 12px;
    }

    .suppliers-second-column-last {
        margin-top: 20px;
        float: left;
    }

    .shipping-agent-footer li button {
        font-size: 10px;
    }

    /*.suppliers-logistics-agent-box,*/
    .address-btn-box,
    .suppliers-nav-box,
    .table-text-selector,
    .table-striped {
        width: 1000px;
    }

    .suppliers-main-box {}

    .suplier-table-box-col {
        overflow-x: scroll;
    }

    .suppliers-main-box::-webkit-scrollbar,
    .suplier-table-box-col::-webkit-scrollbar {
        height: 10px;
        background-color: #eee;
        border-radius: 10px;
    }

    .suppliers-main-box::-webkit-scrollbar-thumb,
    .suplier-table-box-col::-webkit-scrollbar-thumb {
        background: #1A0E34;
        border-radius: 10px;
    }

    .backout-dates-box-left-content h2 {
        font-size: 14px;
    }

    .backout-dates-box-right-content ul li a {
        font-size: 10px;
    }

    .table-top-options ul {
        flex-wrap: wrap;
    }

    .suppliers-logistics-agent-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .suppliers-second-column {
        /* flex-direction: column !important;
        height: 150px; */
        justify-content: space-between;
    }

    .suppliers-logistics-agent .form-control {
        width: auto;
    }

    .suppliers-logistics-agent-li {
        padding-left: 0 !important;
    }

    .suppliers-settings-box {
        width: 100% !important;
    }

    /* Today responsive 11/07/2020 */
    .index-suppliers-main-box {
        padding: 10px;
    }

    button.btn.add-new-supplier,
    button.btn.import-supplier-btn.mx-3 {
        font-size: 8px;
    }

    button.btn.import-supplier-btn.mx-3 {
        margin: 0 !important;
    }

    #a01 {
        width: 10px;
    }

    button.btn.supplier-down-btn {
        padding: 6px 11px;
    }

    .suppliers-address-box input[type="phone"],
    .suppliers-address-box input[type="email"],
    .suppliers-address-box input[type="text"],
    .suppliers-address-box .form-group {
        width: 256px;
    }

    .suppliers-logistics-agent-2 {
        padding: 0 40px;
    }

    .suppliers-second-column .input-group {
        width: 100px;
        margin: 0 !important;
    }

    button.btn.add-new-supplier.mt-2.mt-sm-0 {
        margin: 0 !important;
    }

    .suppliers-main-box-scroll {
        overflow-x: scroll;
    }

    /* .suppliers-settings-main-box {
        width: 76% !important;
    } */

    .suppliers-settings-main-box {
        width: 350px !important;
    }

    .boat-column-card .boat-column {
        width: 100% !important;
    }

    .boat-column-card .boat-column #card-box-txt-svg {
        visibility: hidden;
        opacity: 0;
    }

    .suppliers-lead-time {
        width: unset;
    }

    .safety-select-box-right {
        width: 100%;
    }

    .suppliers-lead-time p {
        font-size: 11px;
    }

    .suppliers-settings-main-box.deactive {
        width: 100% !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .suppliers-first-column h2 {
        padding-bottom: 12px;
    }

    .suppliers-second-column-last {
        margin-top: 20px;
        float: left;
    }

    .table-text-selector,
    .table-striped {
        width: 500px;
    }

    .suplier-table-box-col {
        overflow-x: scroll;
    }

    .address-btn-box,
    .suppliers-nav-box,
    .table-text-selector,
    .table-striped {
        width: 1000px;
    }

    .suppliers-main-box {

        overflow-x: scroll;
    }

    .suplier-table-box-col {
        overflow-x: scroll;
    }

    .suppliers-main-box::-webkit-scrollbar,
    .suplier-table-box-col::-webkit-scrollbar {
        height: 10px;
        background-color: #eee;
        border-radius: 10px;
    }

    .suppliers-main-box::-webkit-scrollbar-thumb,
    .suplier-table-box-col::-webkit-scrollbar-thumb {
        background: #1A0E34;
        border-radius: 10px;
    }

    .suppliers-logistics-agent-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .suppliers-logistics-agent .form-control {
        width: auto;
    }

    .suppliers-logistics-agent-li {
        padding-left: 10px !important;
    }

    .suppliers-settings-box {
        width: 100% !important;
    }

    /* Today responsive 11 / 08 / 2020 */
    .input-group.mx-lg-3 {
        margin: 0 14px;
    }

    .suppliers-main-box-scroll {
        overflow-x: scroll;
    }

    .suppliers-settings-main-box {
        width: 493px !important;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}