/*Bootstrap components fixed start*/
ul,
p,
.table,
.form-group {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.page-link:focus,
.custom-select:focus,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-check-input {
    position: unset;
}

.nav-tabs .nav-link {
    border: unset;
}

.card {

    -webkit-box-shadow: unset;
    box-shadow: unset !important;
}

.card-body {
    padding: 0;
}

/*Bootstrap components fixed end*/
body[data-sidebar=dark] .navbar-brand-box,
body[data-sidebar=dark] .vertical-menu {
    background-color: #1A0E34;
}

.bx-home-circle:before {
    content: '\f015' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-layout:before {
    content: '\f2bb' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-calendar:before {
    content: '\f1b2' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-chat:before {
    content: '\f0eb' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-store:before {
    content: '\f468' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-bitcoin:before {
    content: '\f155' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-envelope:before {
    content: '\f2f1' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-receipt:before {
    content: '\f0fe' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

.bx-briefcase-alt-2:before {
    content: '\f00d' !important;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
}

#_25_Basket:hover {
    fill: red;
}

/*Work start*/
.suppliers-top-main-box {
    padding-bottom: 20px;
}

.suppliers-main-box {
    background-color: #fff;
    padding: 30px;
    position: relative;
}

.import-supplier-btn {
    border: 2px solid #A6B0CF;
    color: #A6B0CF;
}

.suppliers-first-column h2 {
    font-size: 26px;
    font-weight: 600;
    color: #1A0E34;
}

.add-new-supplier {
    background-color: #227CFF;
    color: #fff;
    font-weight: 500;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.import-supplier-btn:hover {
    color: #A6B0CF !important;
}

.add-new-supplier:hover {
    background-color: #0357ff !important;
    color: #fff !important;
}

.table-top-options-right .page-link,
.table-top-options-right .btn,
.btn-one,
.supplier-down-btn {
    background-color: #EDEEF2;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.table-top-options-right .page-link:hover {
    background-color: #227CFF;
    color: #fff
}

.suppliers-second-column .input-group {
    width: 253px;
}

.suppliers-btn-icons-box {
    background-color: #EDEEF2;
    border-radius: 3px;
    width: 64px;
    position: relative;
}

.filter-btn-overlay {
    position: absolute;
    top: 6px;
    left: -9px;
    height: 12px;
    width: 12px;
    background-color: #227CFF;
    font-weight: 600;
    color: #fff;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    font-size: 9px;
}

.suppliers-btn-icons-box .btn {
    width: 10px;
}

.suppliers-second-column .input-group .btn {
    background-color: #6A7187;
}

.suppliers-second-column .form-group .form-control {
    background-color: #F1B44C;
    border-color: #F1B44C;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.suppliers-second-column .form-group {
    position: relative;
    width: 122px;
}

.suppliers-second-column .form-group::after {
    content: '\f107' !important;
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
    font-size: 14px;
    color: #fff;
}

.suppliers-second-column-last .form-group {
    width: 166px;
    position: relative;
}

.btn-one {
    height: 37px;
    width: 37px;
    position: relative;
}

.btn-one-filter {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 530px;
    height: 355px;
    padding: 30px;
    z-index: 999;
}

.ui-filter-tags {
    padding-top: 16px;
}

.ui-filter-tags p {
    color: #495057;
    font-weight: 600;
}

.ui-filter-tags ul {
    padding-left: 10px;
}

.ui-filter-tags ul li {
    position: relative;
    margin-right: 6px;
}

.ui-filter-tags ul li .badge {
    background-color: #F6F6F6;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    position: relative;
}

.ui-filter-tags ul li .badge-cross {
    position: absolute;
    top: -8px;
    right: -3px;
    visibility: hidden;
    opacity: 0;
}

.ui-filter-tags ul li:hover .badge-cross {
    visibility: visible;
    opacity: 1;
}

.suppliers-second-column-last .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #495057;
    font-weight: 600;
}

.suppliers-second-column-last .form-group::after {
    content: '\f107' !important;
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 700;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
    font-size: 14px;
    color: #6A7187;
}

.bg-color-row {
    background-color: #F9FAFB;
}

.table-top-options ul li span {
    color: #495057 !important;
}

.table-top-options .custom-select {
    width: 48px;
    height: 21px;
    font-size: 10px;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.3rem center/6px 10px !important;
    padding: 0;
    padding-left: 4px;
}

.table-top-options-right .btn {
    position: relative;
}

.table-top-options-right .btn::after {
    content: '4';
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #227CFF;
    top: -9px;
    right: -9px;
    z-index: 9;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

.table-top-options-right .page-link {
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
}

.page-no {
    padding: 4px 10px;
    display: inline-block;
    color: #495057;
}

.page-no-active {
    background-color: #227CFF;
    border-radius: 4px;
    color: #fff;
}

.page-no-active:hover {
    color: #fff;
}

.bg-color-row-2 {
    background-color: #F2F7FF;
}

.table-select-txt {
    text-align: center;
}

.table-select-txt p {
    font-weight: 600;
}

.table-select-txt a {
    color: #227CFF;
}

.table-checkbox-main .form-check {
    margin-left: 14px;
    margin-right: 20px;
}

.table-text-selector {
    background-color: #F2F7FF;
    padding: 16px 0;
    text-align: center;
}

.table-text-selector p {
    color: #707070;
    font-weight: 600;
}

.table-text-selector a {
    color: #227CFF;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.table-text-selector a:hover {
    color: #0357ff;
}

.table-right-actions {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: all .4s;
    -ms-transform: all .4s;
    transform: all .4s;
}

.table-right-actions li {
    cursor: pointer;
}

.table-striped tr:hover .table-right-actions {
    visibility: visible;
    opacity: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: unset !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}

/*Suppliers basic page*/
.suppliers-main-box .nav-link {
    color: #495057;
    font-weight: 600;
}

.main-address-from {
    display: none;
    width: 500px;
}

.main-details-from {
    display: none;
    width: 500px;
}


.suppliers-address-box input[type="phone"],
.suppliers-address-box input[type="email"],
.suppliers-address-box input[type="text"] {
    width: 325px;
    border-color: #CED4DA;
    color: #495057;
    font-weight: 600;
}

.suppliers-address-box input[type="email"]::-webkit-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="email"]::-moz-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="email"]:-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="email"]::-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="email"]::placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="number"]::-webkit-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="number"]::-moz-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="number"]:-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="number"]::-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="number"]::placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="text"]::-webkit-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="text"]::-moz-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="text"]:-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="text"]::-ms-input-placeholder {
    color: #CED4DA;
}

.suppliers-address-box input[type="text"]::placeholder {
    color: #CED4DA;
}

.suppliers-address-box .form-group {
    width: 325px;
}

.suppliers-address-box .form-control {
    border-color: #CED4DA !important;
    color: #CED4DA;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #227CFF;
    border-bottom: 2px solid #227CFF;
}

.suppliers-address-box li {
    color: #707070;
    font-weight: 600;
}

.suppliers-address-box li span {
    color: #F46A6A
}

.address-cancel-btn {
    border: 1px solid #6A7187;
    color: #6A7187;
}

.address-save-btn {
    background-color: #227CFF;
    color: #fff;
}

.address-save-btn:hover {
    background-color: #0357ff !important;
    color: #fff !important;
}

.address-save-right {
    width: 50%;
}

.suppliers-address-box-icon {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.address-save-right:hover .suppliers-address-box-icon {
    visibility: visible;
    opacity: 1
}

.table-footer-add-btn p a {
    color: #227CFF !important;
    font-weight: 600;
}

/*Suppliers logistics agent*/
.suppliers-logistics-agent ul li span {
    color: #495057;
    font-weight: 600;
}

.suppliers-logistics-agent .form-control {
    width: 326px;
    border-color: #CED4DA;
    color: #CED4DA;
}

.suppliers-logistics-agent-btn a {
    color: #227CFF !important;
    font-weight: 600;
}

/*Suppliers settings box*/
.suppliers-settings-box {
    /*width: 60% !important;*/
}

.suppliers-settings-main-box {
    width: 40% !important;
}

.suppliers-settings-main-box.active {
    width: 40% !important;
}

.suppliers-settings-main-box.deactive {
    width: 60% !important;
}

.suppliers-settings-li-01,
.suppliers-settings-li-02 {
    display: none;
}

.suppliers-settings-li-02-show {
    display: block;
}

.suppliers-settings-li-02.suppliers-settings-li-02-show ul {
    float: right;
}

.suppliers-settings-li-02,
.suppliers-settings-li-01 {
    width: 325px;
}

.suppliers-settings-li-txt p svg {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.suppliers-settings-li-txt p:hover svg {
    visibility: visible;
    opacity: 1
}

.suppliers-settings-li-01 .form-control {
    color: #A6B0CF !important;
    border-color: #A6B0CF;
}

.suppliers-settings-li-01 .form-control::-webkit-input-placeholder {
    color: #A6B0CF !important;
}

.suppliers-settings-li-01 .form-control::-moz-placeholder {
    color: #A6B0CF !important;
}

.suppliers-settings-li-01 .form-control:-ms-input-placeholder {
    color: #A6B0CF !important;
}

.suppliers-settings-li-01 .form-control::-ms-input-placeholder {
    color: #A6B0CF !important;
}

.suppliers-settings-li-01 .form-control::placeholder {
    color: #A6B0CF !important;
}

.suppliers-settings-li-01 .form-check-label {
    width: 110px;
}

.suppliers-settings-btns .btn {
    background-color: #F5F7F8;
    color: #1D2634;
    font-weight: 500;
    padding: 4px 6px;
    margin-right: 4px;
}

.suppliers-settings-btns .btn:hover {
    background-color: #227CFF;
    color: #fff;
}

.suppliers-settings-li-02 label {
    font-size: 13px;
    font-weight: 500;
    color: #495057;
    padding: 4px 0 6px 0;
}

.suppliers-settings-li-02 .form-control {
    color: #A6B0CF;
    border-color: #A6B0CF;
}

.btn-active {
    background-color: #227CFF !important;
    color: #fff !important;
}

.form-check-inline {
    width: 120px;
}

.suppliers-settings-li-02 .btn {
    padding: 4px 6px;
    border-color: #CED4DA;
}

.address-save-form {
    width: 428px;
}
.details-save-form {
    width: 428px;
}
/*Suppliers settings box 2*/
.suppliers-settings-btns-weekly {
    display: none;
}

.suppliers-settings-btns-weekly .btn {
    width: 43px;
}

.suppliers-settings-btns-month .btn {
    height: 40px;
    width: 40px;
    margin-bottom: 6px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    margin-right: 3px;
}

.suppliers-form-txt-head span {
    color: #495057;
    font-weight: 600;
}

.suppliers-settings-btns-weekly .btn:hover,
.suppliers-settings-btns-month .btn:hover {
    background-color: #227CFF !important;
    color: #fff !important;
}

/*Suppliers lead time*/
.suppliers-lead-time {
    width: 950px;
}

.suppliers-lead-time p {
    font-size: 16px;
    color: #6A7187;
}

.suppliers-lead-time-btn {
    padding: 18px 0;
}

.suppliers-lead-time-btn li a {
    background-color: #F3F5F6;
    font-weight: 500;
    color: #989BA0;
    padding: 10px 20px;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.active-plane-btn {
    border-radius: 0 4px 4px 0;
}

.active-lead-btn {
    background-color: #227CFF !important;
    color: #fff !important;
    border-radius: 4px 0 0 4px;
    position: relative;
}

.active-plane-btn:hover {
    background-color: #227CFF !important;
    color: #fff !important;
}

.active-plane-btn:hover #plane {
    fill: #fff !important;
}

.active-lead-btn::after {
    content: 'Default';
    position: absolute;
    font-size: 10px;
    top: -9px;
    left: -14px;
    background-color: #F1B44C;
    padding: 2px 8px !important;
    border-radius: 0 20px 20px 0;
}

.active-lead-btn::before {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #E36C47;
    top: 0px;
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.card-box-txt {
    border-bottom: 1px solid #CED4DA;
    padding: 16px 0;
    position: relative;
}

.card-box-txt h2,
.card-box-txt h4 {
    font-size: 22px;
    color: #495057;
    font-weight: 500;
}

.card-box-txt p {
    font-size: 14px;
    font-weight: 500;
    color: #A6B0CF;
    padding: 8px 0;
}

.card-box-txt h2 {
    color: #CED4DA;
}

.card-box-txt h2 span {
    color: #495057;
}

#card-box-txt-svg {
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.safety-select-box-right {
    background-color: #F6F7F9;
    width: 400px;
    padding: 30px;
}

.safety-select-box-right h2 {
    font-size: 22px;
    font-weight: 600;
    color: #495057;
}

.safety-select-box-right h4 {
    font-size: 22px;
    font-weight: 600;
    color: #227CFF;
}

.safety-select-box ul li {
    color: #495057;
    font-weight: 600;
}

.safety-select-box .custom-select {
    border-color: #A6B0CF;
    color: #A6B0CF;
}

.safety-select-box p {
    padding-top: 8px;
    color: #A6B0CF;
}

.safety-select-box-content h2 {
    font-size: 22px;
    color: #495057;
    font-weight: 500;
}

.safety-select-box-content p {
    color: #495057;
}

.production-column-box ul li .form-check-label {
    width: 100px;
}

.production-column-box h4 {
    font-size: 22px;
    font-weight: 500;
    color: #6A7187;
}

.production-column-box {
    padding-top: 30px;
}

.backout-dates-box-left-content h2 {
    font-size: 20px;
    color: #CED4DA;
}

.backout-dates-box-right-content ul li a {
    color: #227CFF;
    font-weight: 500;
}

#back-out-input {
    /* height: 40px; */
    border: none;
    color: #495057;
}

#back-out-input::placeholder {
    color: #CED4DA;
}

#back-out-input:focus {
    outline: none;
}

.backout-delete-icon i {
    color: #F46A6A;
    cursor: pointer;
}

.vendors-tab-01 {
    display: block;
}

.delete-btn-vendors-tab {
    cursor: pointer;
}

.delete-btn-vendors-tab i {
    color: #F46A6A;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
}

.delete-btn-vendors-tab:hover i {
    color: red;
}

.vendors-tab-rows tr:hover .delete-btn-vendors-tab i {
    visibility: visible;
    opacity: 1;
}

.setting-form-box {
    width: 535px;
}

.setting-form-box ul li span {
    color: #495057;
    font-weight: 500;
}

.setting-form-box .form-control {
    height: 36px;
    width: 381px;
    border-color: #CED4DA;
}

.setting-form-box .form-control::placeholder {
    color: #A6B0CF;
}

.setting-form-box #inputSchedule {
    color: #A6B0CF !important;
    height: 36px;
    width: 381px;
}

.moq-inputs .form-control {
    width: unset;
}

.moq-inputs input[type="number"] {
    width: 258px
}

#inputUnits {
    color: #A6B0CF !important;
    margin-left: 37px;
    width: 85px;
}

.quantity-inputs input[type="text"] {
    width: 50px;
    margin-right: 31px;
}

#inputBoxes {
    color: #A6B0CF !important;
    width: 114px;
    margin-right: 18px;
}

#inputOff {
    color: #A6B0CF !important;
    width: 85px;
}

#inputSelect {
    color: #A6B0CF !important;
    width: 146px;
}

.ui-filter-card {
    width: 530px;
    padding: 30px;
    background-color: #fff;
    top: 40%;
    z-index: 999;
    border: 2px solid #E6EAEF;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
}

.ui-filter-card.active {
    visibility: visible;
    opacity: 1;
}

.ui-filter-head {
    padding-bottom: 20px;
}

.ui-filter-head h2 {
    font-size: 21px;
    color: #495057;
}

.ui-filter-card-input label,
.ui-filter-card-input-price label,
.ui-filter-head p {
    color: #495057;
}

.ui-filter-card-input-price .form-control,
.ui-filter-card-input .form-control {
    color: #A6B0CF;
}

.ui-filter-card-input-price .form-control::placeholder {
    color: #A6B0CF;
}

.boat-column-card .boat-column {
    width: 20% !important;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.ui-filter-card-btn .btn {
    width: 100px;
    color: #fff !important;
    transition: all .4s;
}

.ui-filter-cancel {
    background-color: #495057;
}

.ui-filter-applay {
    background-color: #227CFF;
}

.ui-filter-applay:hover {
    background-color: blue;
}